ul
{list-style: none;}

.boton
{height: 3.5em;
color: white; 
padding: 0px 10px 0px 10px;
background-color: #00EE9E;
border-style: none;}

.input-largo{
height: 3.5em;
width: 50%;}

.iconos
{margin-top: 70px;}

